*
*:after
*:before
    box-sizing: border-box;

html
body
    height 100%

body
    ubuntu 14
    color $texto
    &.home
        min-height 580px
        +below($tablet)
            min-height 400px

::selection
    background $azul
    color #fff

::-moz-selection
    background $azul
    color #fff

.center
    width desktop-base-width
    position relative
    margin 0 auto
    clearfix()
    +below($tablet)
        width 90%

body
    &:after
        content "" // preload images
        display none
