// Responsive
desktop-base-width     = 980px
rupture.desktop-cutoff = $tablet = 1080px
rupture.mobile-cutoff  = $mobile = 710px
rupture.anti-overlap   = -1px

// Images path
$img($image)
    url('../img/layout/' + $image)

// Colors
$azul  = #5180BF
$texto = #666666

// Fonts
@import url('https://fonts.googleapis.com/css?family=Italianno:400')
italianno($size)
    font-size $size + 0px
    font-family 'Italianno', 'Georgia', 'Times', 'Times New Roman', serif
    font-weight 400

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700,700italic')
ubuntu($size, $style = normal)
    font-size $size + 0px
    font-family 'Ubuntu', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $style == bold
        font-weight 700
