body
    background $img('bg-flores.png') repeat
    border-top 2px solid $azul
    .wrapper
        width 100%
        min-height 100%
        position relative
        padding-bottom 170px
        overflow hidden
        +below($tablet)
            width 100%
            height auto
            min-height none
            padding 0

header
    position relative
    width 100%
    height 125px
    border-bottom 1px solid $azul
    z-index 102
    .center
        height 100%
    h1
        display block
        position relative
        float left
        width 189px
        height 66px
        margin 0
        top 28px
        a
            display block
            text-indent -9999px
            width 100%
            height 100%
            background $img('monicadecoracoes.png') no-repeat center
    ul
        position relative
        float left
        margin 0
        padding 0
        list-style-type none
        &.header-nav
            height 100%
            margin-left 50px
            > li
                display block
                position relative
                float left
                top 45px
                margin-right 18px
                > a
                    position relative
                    display block
                    color #000
                    italianno 25
                    text-decoration none
                    transition color .3s
                    &:hover
                    &.active
                        color $azul
                    &.active + ul.header-nav-submenu
                        opacity 1
                        visibility visible
                        z-index 9999
                &.has-sub
                    &:after
                        content ""
                        position absolute
                        bottom -10px
                        left 0
                        height 10px
                        width 100%
                    &:hover ul
                        opacity 1
                        visibility visible
                        z-index 9999
                ul
                    display block
                    position absolute
                    visibility hidden
                    cursor default
                    white-space nowrap
                    top 35px
                    padding 5px 10px 0
                    left -10px
                    border-top 1px solid $azul
                    transition all .3s
                    opacity 0
                    li
                        display inline-block
                        a
                            italianno 22
                            color #000
                            text-decoration none
                            transition color .3s
                            &:hover
                            &.active
                                color $azul
                            &:after
                                content "\00b7"
                                ubuntu 18
                                margin 0 6px 0 8px
                        &:last-child a:after
                            display none
        &.header-social
            float right
            top 52px
            li
                display block
                position relative
                float left
                width 16px
                height 16px
                margin-left 5px
                a
                    display block
                    width 100%
                    height 100%
                    text-indent -9999px
                    &.facebook
                        background $img('icone-facebook.png') no-repeat center
                    &.instagram
                        background $img('icone-instagram.png') no-repeat center
    nav#nav-mobile
        +above($tablet)
            display none !important
        display none
        position absolute
        top 85px
        width 100%
        background rgba($azul, .9)
        padding 12px 0
        text-align center
        z-index 9999
        a
            display block
            color #fff
            italianno 28
            text-decoration none
            padding 0
            &.active
                color #000
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        float right
        position relative
        height 55px
        width 28px
        outline 0
        padding 0
        top 15px
        margin-left 20px
        .lines
            display block
            width 100%
            height 4px
            background $azul
            position relative
            transition .3s ease
            border-radius 2px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                border-radius 2px
                background $azul
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    +below($tablet)
        height 85px
        .header-nav
            display none
        ul.header-social
            top 35px
        h1
            height 100%
            top 0
            width 155px
            a
                background-size 100% auto
.home header
    border 0

section
    padding-top 20px
    h2.title
        margin 0 0 20px
        width 100%
        italianno 100
        line-height 1
        color #fff
        text-shadow 0 0 7px rgba(#000, .7)
    +below($tablet)
        padding-top 15px
        h2.title
            font-size 80px
    +mobile()
        h2.title
            font-size 56px
            margin-bottom 10px
            text-shadow 0 0 7px rgba(#000, .8)

footer
    width 100%
    min-height 90px
    position absolute
    z-index 101
    bottom 0
    padding 15px 0
    border-top 1px solid $azul
    +below($tablet)
        position relative
        min-height 82px
        margin-top 5%
        padding 10px 0
    +mobile()
        min-height 143px
    p
        text-align center
        ubuntu 13
        font-style italic
        cursor default
        span
            margin 0 4px
        +below($mobile)
            font-size 12px
            span
                display block
                height 4px
                width 0
                text-indent -9999px
        a
            color inherit
            text-decoration none
            transition color .3s
            &:hover
                color $azul
        &.copyright
            ubuntu 10
            color lighten($texto, 25)
            font-style normal

.home footer
    background $img('bg-flores.png') repeat
    +below($tablet)
        position absolute
        bottom 0

.not-found
    text-align center
    padding-top 100px
    +below($tablet)
        padding 25vh 0 15vh
    h2
        display inline-block
        text-transform uppercase
        color $azul
        border 2px solid $azul
        ubuntu 13 bold
        padding 15px

.pagination
    text-align center
    margin-top 40px
    padding 0
    +below($tablet)
        margin-top 20px
    li
        position relative
        display inline-block
        text-align center
        margin 0 3px
        transition background .3s
        &:first-child
        &:last-child
            display none
        &.active span
            color $azul
        a
        span
            display inline-block
            min-width 30px
            padding 7px 11px
            ubuntu 13 bold
            font-style italic
            background #E5E5E5
            color $texto
            text-decoration none
            transition color .3s, background .3s
        span
            cursor default
        &:hover
            a
                background $azul
                color #fff

#topo
    display block
    position fixed
    bottom 32px
    left 32px
    width 60px
    height 60px
    background $img('topo.svg') no-repeat center 49% $azul
    z-index 102
    text-indent -9999px
    box-shadow 0 0 6px rgba(#000, .4)
    transition all .3s
    opacity 0
    visibility hidden
    &.visible
        opacity 1
        visibility visible
    &:hover
        background-color darken($azul, 10)
    +below(1200px)
        display none
