#contato
    .info
        width 390px
        float left
        img
            display block
            float left
            margin-bottom 20px
        p
            margin 1.2em 0
            color #000
            font-style italic
            &:first-child
                margin-top 0
            &.telefone
                italianno 56
                color $azul
                line-height 1
                margin-bottom 0
                font-style normal
        a
            ubuntu 14 bold
            color $azul
            font-style italic
            text-decoration none
            transition color .3s
            &:hover
                color darken($azul, 20)
        .endereco
            p
                margin 0
                line-height 1.4
    .googlemaps
        width 540px
        height 415px
        float right
        iframe
            width 100%
            height 100%
    +tablet()
        .info
            width 40%
            img
                width 100%
                height auto
        .googlemaps
            width 55%
    +mobile()
        .info
        .googlemaps
            width 100%
            float left
        .info
            margin-bottom 20px
            img
                max-width 100%
                height auto
                display block
                float none
                margin-bottom 15px
            .telefone
                margin-top 0px
                font-size 44px !important
        .googlemaps
            height 300px
