#depoimentos
    .depoimentos
        clearfix()
        .left
            width 48.5%
            float left
        .right
            width 48.5%
            float right
        +below($mobile)
            display none
    .depoimentos-mobile
        display none
        +mobile()
            display block
    .depoimento
        width 100%
        padding 15px
        background #E5E5E5
        margin-bottom 20px
        +tablet()
            margin-bottom 15px
        +mobile()
            margin-bottom 10px
            padding 10px
        .imagem
            width 100%
            height auto
            position relative
            img
                width 100%
                height 100%
                display block
            &:after
                content ""
                position absolute
                width 100px
                height 94px
                background $img('depoimento.png') no-repeat center
                left 0
                bottom -94px
        .texto
            position relative
            z-index 2
            padding 12px 6px 0
            cursor default
            p
                margin 0
                italianno 25
                color black
                line-height 1.3
                text-align center
                &.nome
                    margin-top 15px
                    text-align right
                    color $azul
                    italianno 23
