.banners
    position absolute
    width 100%
    height s('calc(%s - %s)', 100%, 210px)
    top 125px
    left 0
    +below($tablet)
        top 85px
    +tablet()
        height s('calc(%s - %s)', 100%, 167px)
    +mobile()
        height s('calc(%s - %s)', 100%, 228px)
    .banners-slides
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        .slide
            position absolute
            width 100%
            height 100%
            background-size cover
            background-position center
            background-repeat no-repeat
