#orcamento
    clearfix()
    .info
        width 400px
        float left
        font-style italic
        line-height 1.4
        img
            display block
            width 100%
            margin-top 30px
        p:first-child
            margin-top 0
    form
        width 500px
        float right
        input
        textarea
            width 100%
            border 0
            background #E5E5E5
            outline 0
            padding 6px 10px
            font-style italic
            margin-bottom 5px
            color $texto
            transition box-shadow .3s
            &[type=submit]
                background $azul
                text-transform uppercase
                color #fff
                transition background .3s
                &:hover
                    background darken($azul, 10)
            &.error
                border 1px solid rgba(red, .3)
            &:focus
                box-shadow 0 0 6px rgba($azul, .8)
        textarea
            resize none
            height 140px
        .response
            width 100%
            text-align center
            padding 15px
            font-style italic
            ubuntu 13
            margin-bottom 10px
            span
                ubuntu 11
                color rgba(red, .8)
            &.success
                border 1px solid rgba($azul, .5)
            &.error
                border 1px solid rgba(red, .4)
    +tablet()
        .info
            width 30%
        form
            width 65%
    +mobile()
        .info
        form
            width 100%
            float left
        .info
            img
                margin-top 0
                max-width 100%
                width auto
            margin-bottom 20px
