#portfolio
    .title-desktop
        +below($tablet)
            display none
    .title-mobile
        +above($tablet)
            display none
    .categorias-mobile
        +above($tablet)
            display none
        margin -15px 0 20px
        +mobile()
            margin-top -10px
        a
            white-space nowrap
            display inline-block
            italianno 26
            line-height 1
            color #000
            text-decoration none
            transition color .3s
            &:hover
            &.active
                color $azul
            &:after
                content "\00b7"
                ubuntu 18
                margin 0 6px 0 8px
            &:last-child:after
                display none
    .thumbs-index
        a
            display block
            position relative
            float left
            width 180px
            height 180px
            overflow hidden
            text-decoration none
            margin-right 20px
            margin-bottom 20px
            &:nth-child(5n)
                margin-right 0
            +below($tablet)
                width 23.875%
                height auto
                margin-right 1.5%
                margin-bottom 1.5%
                &:nth-child(5n)
                    margin-right 1.5%
                &:nth-child(4n)
                    margin-right 0
            +mobile()
                width 32.333%
                &:nth-child(4n)
                    margin-right 1.5%
                &:nth-child(3n)
                    margin-right 0
            img
                width 100%
                height auto
                display block
            .overlay
                +below($tablet)
                    display none
                display table
                position absolute
                width 160px
                height 160px
                top 10px
                left 10px
                background rgba(179,179,179,.8)
                opacity 0
                transition opacity .3s
                padding 0 10px
                span
                    display table-cell
                    vertical-align middle
                    text-align center
                    ubuntu 14
                    font-style italic
                    color #fff
            &:hover .overlay
                opacity 1
    h3
        italianno 36
        margin 0 0 15px
    .thumbs-show
        width 100%
        border-top 1px solid $azul
        margin-top 50px
        padding-top 25px
        +below($mobile)
            display none
        a
            display block
            position relative
            float left
            width 90px
            height 90px
            margin-right 8px
            margin-bottom 8px
            &:nth-child(10n)
                margin-right 0
            img
                width 100%
                height 100%
                display block
            .overlay
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                background rgba($azul, .7)
                transition opacity .3s
                opacity 0
            &:hover
            &.cycle-pager-active
                .overlay
                    opacity 1
            +tablet()
                width 11.625%
                height auto
                margin-right 1%
                margin-bottom 1%
                &:nth-child(10n)
                    margin-right 1%
                &:nth-child(8n)
                    margin-right 0
    .galeria-portfolio
        width 100%
        .slide
            width 100%
            height 580px
            background-repeat no-repeat
            background-position center
            +below($tablet)
                height auto
                padding-bottom 60%
                background-size contain
        .galeria-control
            display block
            width 50px
            height 50px
            position absolute
            top 50%
            margin-top -25px
            z-index 101
            opacity .7
            transition opacity .3s
            background $img('topo.svg') no-repeat center 48% $azul
            background-size 32%
            box-shadow 0 0 6px rgba(#000, .3)
            &:hover
                opacity 1
            &.cycle-prev
                left 25px
                transform rotate(-90deg)
            &.cycle-next
                right 25px
                transform rotate(90deg)
            +below($tablet)
                width 40px
                height 40px
                opacity 1
                margin-top -20px
                &.cycle-prev
                    left 0
                &.cycle-next
                    right 0
            +mobile()
                width 30px
                height 30px
                margin-top -15px
    .galeria-portfolio-info
        min-height 30px
        padding-top 20px
        .fb-like
            z-index 9998
