#promocoes
    .promocoes
        clearfix()
        .left
            width 48.5%
            float left
        .right
            width 48.5%
            float right
        +below($mobile)
            display none
    .promocoes-mobile
        display none
        +mobile()
            display block
    .promocao
        display block
        width 100%
        padding 15px
        background #E5E5E5
        margin-bottom 20px
        text-decoration none
        color $texto
        +tablet()
            margin-bottom 15px
        +mobile()
            margin-bottom 10px
            padding 10px
        transition background .3s, color .3s
        &:hover
            background $azul
            color #fff
        img
            width 100%
            height auto
            display block
        p
            display block
            margin 5px 0 0
            padding 10px
            ubuntu 16
            font-style italic
            +below($tablet)
                ubuntu 13
