#quem-somos
    .imagem
        width 400px
        float left
        img
            width 100%
            height auto
            display block
            margin-bottom 30px
        .frase
            italianno 34
            color $azul
            text-align right
            p
                margin 0
                line-height 1
    .texto
        width 500px
        float right
        p
            font-style italic
            line-height 1.45
            &:first-child
                margin-top 0
    +tablet()
        .imagem
            width 30%
            img
                margin-bottom 20px
            .frase
                font-size 30px
                line-height 1.1
                p
                    display inline
        .texto
            width 65%
    +mobile()
        .imagem
        .texto
            width 100%
            float left
        .imagem
            margin-bottom 15px
            img
                max-width 100%
                width auto
                height auto
                margin-bottom 20px
            .frase
                text-align left
                font-size 28px
                line-height 1
                p
                    display inline
