#videos
    .thumbs
        font-size 0
        display flex
        flex-wrap wrap
        a
            font-size 14px
            display inline-block
            background #fff
            width 314px
            padding 10px
            margin-right 19px
            margin-bottom 19px
            vertical-align top
            transition background .3s, color .3s
            color $texto
            text-decoration none
            &:hover
                background $azul
                color #fff
            &:nth-child(3n)
                margin-right 0
            .capa
                width 100%
                position relative
                img
                    display block
                    width 100%
                    height auto
                .overlay
                    position absolute
                    width 100%
                    height 100%
                    top 0
                    left 0
                    background $img('icone-video.png') no-repeat center
            .texto
                margin-top 5px
                padding 10px
                h3
                    margin 0 0 5px
                    ubuntu 20
                    font-style italic
                p
                    margin 0
                    ubuntu 12
                    font-style italic
        +below($tablet)
            a
                width 32.33%
                margin-right 1.5%
                margin-bottom 1.5%
                .texto h3
                    font-size 16px
        +mobile()
            a
                width 49.25%
                &:nth-child(3n)
                    margin-right 1.5%
                &:nth-child(2n)
                    margin-right 0
