#workshops
    .workshops
        clearfix()
        .left
            width 48.5%
            float left
        .right
            width 48.5%
            float right
        +below($mobile)
            display none
    .workshops-mobile
        display none
        +mobile()
            display block
    .workshop
        display block
        width 100%
        padding 15px
        background #E5E5E5
        margin-bottom 20px
        +tablet()
            margin-bottom 15px
        +mobile()
            margin-bottom 10px
            padding 10px
        transition background .3s
        &:hover
            background $azul
        img
            width 100%
            height auto
            display block
